<%= provide :title, @product.name %>
<div class="row">
  <div class="col-md-4">
    <div class="product_image">
      <p>
        <%= image_tag @product.picture_link.url if @product.picture_link? %>
      </p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="product_info">
      <div class="produdct_name">
        <p><%= @product.name %></p>
      </div>
      <p>
        <strong><%= t "product.product_price" %></strong>:<%= @product.price%>
      </p>
      <p>
        <strong><%= t "product.product_classify" %></strong>:
          <%= t "classify.#{@product.classify}" %>
      </p>
      <p><strong><%= t "product.product_category" %>: </strong>:
          <%= @product.category.name %></p>
      <p>
        <strong><%= t "product.product.product_content" %></strong>:
          <%= @product.content %>
      </p>
      </div>
    </div>
  </div>
  <div class="product_comment">
    <%= render "comments/comment_form" %>
    <% if @comments.any? %>
      <div class="panel panel-default">
        <% @comments.each do |comment| %>
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-12 col-md-8">
                <small><%= t "comment.commentby" %></small>
                <b><%= comment.user.name %></b>
                <small><%= t "comment.at" %></small>
                <b><%= comment.created_at %></b>             
              </div>
              <div class="col-xs-6 col-md-4">
                <% if comment.user == current_user %>
                  <%= link_to t("button.delete"), product_comment_path(id: comment.id,
                     product_id: comment.product_id), data: {confirm: (t "confirm.sure")}, 
                     method: :delete, class: "btn btn-sm btn-danger button" %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="panel-body">
            <%= comment.content %>
          </div>       
        <% end %>
      </div>
    <% end %>
  </div>
</div>
